body {
    width:100%;
}
.container{
    background-color:azure;
    color:black;
    font-size:20px;
    text-align:left;
    width:100vw;
    height:100%;
    display:grid;
}
input[type=text],[type=password] {
    width: 50%;
    height: 50px;
    padding: 15px;
    margin: 5px 0 22px 0;
    display:block;
    border: none;
    background:white;
    color:black;
    font-size:30px;
}
input[type=email],[type=phonenumber],[type=number],[type=name]{
    width: 60vw;
    height: 30px;
    padding: 15px;
    margin: 5px 0 22px 0;
    display:block;
    border: none;
    background:azure;;
    color:black;
    font-size:30px; 
}
.registerbtn {
    background-color:blue;
    color: white;
    border-radius:14px;
    cursor: pointer;
    width: 20%;
    opacity: 0.9;
    font-size:20px;
    height:30px;

}
.cancelbtn{
    border-radius:14px;
    background-color:red;
    color:black;
    font-size:20px;
    height:30px;
    width:20%;
    margin-top:3%;
}
.container2{
    background-color:whitesmoke;
    width:100vw;
    height:50px;
    text-align:center;
}

